<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_register_success">
        <observer name="consent_observer" instance="Risecommerce\Gdpr\Observer\ConsentObserver" />
    </event>
    <event name="newsletter_subscriber_save_after">
        <observer name="risecommerce-newsletter-save-after" instance="Risecommerce\Gdpr\Observer\NewsletterObserver" />
    </event>
</config>
